[Unit]
 Description=timeseries
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/home/ubuntu/projects/backend/ENV/bin/python /home/ubuntu/projects/backend/scripts/timeseries.py >> /var/log/timeseries.log 2>&1
 Restart=always

[Install]
 WantedBy=multi-user.target