[Unit]
 Description=sensor1
 After=multi-user.target

 [Service]
 Type=idle
 ExecStartPre=/home/pi/projects/backend/ENV/bin/source activate 
 ExecStart=nohup /home/pi/projects/backend/ENV/bin/python /home/pi/projects/backend/datalogger/sensor1.py >> /var/log/sensor1.log 2>&1 &
 Restart=always

[Install]
 WantedBy=multi-user.target