[Unit]
 Description=telemetry
 After=multi-user.target

 [Service]
 Type=idle
 ExecStartPre=/projects/backend/ENV/bin/source activate
 ExecStart=nohup /projects/backend/ENV/bin /projects/backend/datalogger/telemetry.py &
 Restart=always

[Install]
 WantedBy=multi-user.target