[Unit]
 Description=telemetry
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/home/pi/projects/backend/ENV/bin/python /home/pi/projects/backend/datalogger/telemetry.py
 Restart=always

[Install]
 WantedBy=multi-user.target