[Unit]
 Description=telemetry
 After=multi-user.target

 [Service]
 Type=idle
 ExecStartPre=source /home/pi/projects/backend/ENV/bin/activate
 ExecStart=/home/pi/projects/backend/ENV/bin/python /home/pi/projects/backend/datalogger/telemetry.py >> /var/log/telemetry.log 2>&1
 Restart=always

[Install]
 WantedBy=multi-user.target